version: "3.9"

services:
  redis:
    image: redis:7
    container_name: leaderboard_redis
    command: ["redis-server", "--requirepass", "123456"]  # 设置密码
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  app:
    build: .
    container_name: leaderboard_app
    depends_on:
      - redis
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379

volumes:
  redis_data:
